
.App {
  text-align: center;
}
.table {
  border: 1px solid rgb(162, 177, 178);
  width: 800px;
  height: 200px;
  list-style: armenian;
}
  
th {
  border-bottom: 1px solid black;
  background-color: aliceblue;
}
  
td {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.paginationBttns{
  width:80%;
  height: 40px;
  list-style: none;
  display: flex;
  justify-content: center;
}

.paginationBttns a {
  padding: 10px;
  margin: 8px;
  border-radius:5px;
  border:1px solid rgba(12, 57, 194, 0.133);
  color:#61dafb;
  cursor: pointer;
}

.paginationBttns a:hover{
  color: aqua;
  background-color: aquamarine;

}

.paginationActive a {
  color: aqua;
  background-color:blue
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

